<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>

		 
		 
		 
	  
  		 

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">

        <!--Disable Browser Back Button-->
        <script type="text/javascript">
            window.history.pushState(null, null, window.location.href);
            window.onpopstate = function () {
                window.history.go(1);
            };
        </script>

</head>

<body>
    <div class="page-header"></div>   

    <div class="questions-form"> 
        <form  action="/questions_2b" method="get">
            
            <p><strong>
                Assuming the scenario comes true, how likely is it that you will actually run the dishwasher as you have indicated?
            </strong></p>
            <!--Single answer-->
            <input type="radio" name="q2a_r1" value="1">Definitely not &emsp;&emsp;
            <input type="radio" name="q2a_r1" value="2">Probably not&emsp;&emsp;
            <input type="radio" name="q2a_r1" value="3">Possibly not&emsp;&emsp;
            <input type="radio" name="q2a_r1" value="4">Possible&emsp;&emsp;
            <input type="radio" name="q2a_r1" value="5">Probably&emsp;&emsp;
            <input type="radio" name="q2a_r1" value="6">Definetely

            <br><br>

            <p><strong>
                In the previous scenario, how did you adjust your washing habits?
            </strong></p>
            <!--Single answer-->
            <input type="radio" name="q2a_r2" value="1">To minimize the consumption during peak hours<br>
            <input type="radio" name="q2a_r2" value="2">To achieve the right trade-off between reduced consumption during peak hours and inconvenience<br>
            <input type="radio" name="q2a_r2" value="3">To consume less energy during peak hours than average<br>
            <input type="radio" name="q2a_r2" value="4">For the interest in testing the results of different actions<br>
            <input type="radio" name="q2a_r2" value="5">For the fun of using the tool<br>
            <input type="radio" name="q2a_r2" value="6" id="option-other">Other <input type="text" id="option-other-text" placeholder="..." style="display: none;">

            <br><br>
            

            <p><strong>
                Assuming the scenario comes true, how could you/your household perform the new washing habits?
            </strong></p>
            <!--Single answer-->
            <input type="radio" name="q2a_r3" value="1">Changing the routines and manually running the appliance when desired<br>
            <input type="radio" name="q2a_r3" value="2">Using the automated programmer or start delay function<br>
            <input type="radio" name="q2a_r3" value="3">Both<br>
            
            
            <p style="margin-top: 100px;">
                <input class="link-btn button" onclick="window.location.href = '/questions_2b';" type="submit" value="Next page" />
       
            </p>

        </form>
    </div>
</body>