<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>

		 
		 
		  
		 
	  
  		 

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">

        <!--Disable Browser Back Button-->
        <script type="text/javascript">
            window.history.pushState(null, null, window.location.href);
            window.onpopstate = function () {
                window.history.go(1);
            };
        </script>

</head>

<body>
    <div class="page-header"></div> 
    
    <div class="questions-form"> 
        <form  action="/questions_3b" method="get">

            <p><strong>
                If the scenario comes true, how likely is it that you will actually run the dishwasher as you have indicated?
            </strong></p>
            <input type="radio" name="q3a_r1" value="1">Definitely not<br>
            <input type="radio" name="q3a_r1" value="2">Probably not<br>
            <input type="radio" name="q3a_r1" value="3">Possibly not <br>
            <input type="radio" name="q3a_r1" value="4">Possible<br>
            <input type="radio" name="q3a_r1" value="5">Probably<br>
            <input type="radio" name="q3a_r1" value="6">Definitely

            <br><br><br>

            <p><strong>
                What strategy did you follow to adjust the operation of the dishwasher according to the previous scenario?
            </strong></p>
            <input type="radio" name="q3a_r2" value="1">To maximize consumption from renewable energy<br>
            <input type="radio" name="q3a_r2" value="2">To achieve the right trade-off between consumption from renewable energy and inconvenience<br>
            <input type="radio" name="q3a_r2" value="3">Achieving an above-average level of consumption from renewable energy (only when peer comparison)<br>
            <input type="radio" name="q3a_r2" value="4">For the interest in testing the results of different actions<br>
            <input type="radio" name="q3a_r2" value="5">For the fun of using the tool<br>
            <input type="radio" name="q3a_r2" value="6">Other

            <br><br><br>

            <p><strong>
                How can you/your household change when running the dishwasher as indicated above in response to increase the use of energy from renewable sources?
            </strong></p>
            <!--Single answer-->
            <input type="radio" name="q3a_r3" value="1">Manually<br>
            <input type="radio" name="q3a_r3" value="2">Using the automated programmer or start delay function<br>
            <input type="radio" name="q3a_r3" value="3">Both<br>

            <p style="margin-top: 100px;">
                <input class="link-btn button" onclick="window.location.href = '/questions_3b';" type="submit" value="Next page" />
       
            </p>
        </form>
    </div>
</body>