<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">

    <!--Disable Browser Back Button-->
    <script type="text/javascript">
        window.history.pushState(null, null, window.location.href);
        window.onpopstate = function () {
            window.history.go(1);
        };
    </script>

</head>

<body>
    <div class="page-header"></div> 

    <div class="questions-form"> 
        <form  action="/tutorial" method="get">

            <p><strong>Wie relevant sind die folgenden Aussagen für die Beschreibung, wann der Geschirrspüler in Ihrem Haushalt eingeschaltet wird?</strong></p>
            
            <table cellspacing="0" style="width: 100%;"> 
                <tr >
                    <th class="highlight-cell">Der Geschirrspüler wird benutzt…</th> 
                    <th class="highlight-cell">Überhaupt nicht <br> relevant</th>
                    <th class="highlight-cell">Geringfügig <br> relevant</th>
                    <th class="highlight-cell">Mäßig <br> relevant</th>
                    <th class="highlight-cell">Sehr <br> relevant</th>
                    <th class="highlight-cell">Äußerst <br> relevant</th>
                </tr>
                <tr>
                    <td >wenn es meine Nachbarn oder mich/meinen Haushalt nicht stört</td>
                    <td><input type="radio" name="q0_r1_1" value="0"></td> 
                    <td><input type="radio" name="q0_r1_1" value="1"></td>
                    <td><input type="radio" name="q0_r1_1" value="2"></td> 
                    <td><input type="radio" name="q0_r1_1" value="3"></td>
                    <td><input type="radio" name="q0_r1_1" value="4"></td>
                  </tr>
                  <tr>
                    <td >wenn der Strom billiger ist</td>
                    <td><input type="radio" name="q0_r1_2" value="0"></td> 
                    <td><input type="radio" name="q0_r1_2" value="1"></td>
                    <td><input type="radio" name="q0_r1_2" value="2"></td> 
                    <td><input type="radio" name="q0_r1_2" value="3"></td>
                    <td><input type="radio" name="q0_r1_2" value="4"></td>
                  </tr>
                  <tr>
                      <td >wenn jemand zu Hause ist, um das Risiko einer Fehlfunktion des Geräts zu vermeiden</td>
                      <td><input type="radio" name="q0_r1_3" value="0"></td> 
                      <td><input type="radio" name="q0_r1_3" value="1"></td>
                      <td><input type="radio" name="q0_r1_3" value="2"></td> 
                      <td><input type="radio" name="q0_r1_3" value="3"></td>
                      <td><input type="radio" name="q0_r1_3" value="4"></td>
                      </tr>
                  <tr>
                      <td >wenn mindestens ein Teil bald gebraucht wird</td>
                      <td><input type="radio" name="q0_r1_4" value="0"></td> 
                      <td><input type="radio" name="q0_r1_4" value="1"></td>
                      <td><input type="radio" name="q0_r1_4" value="2"></td> 
                      <td><input type="radio" name="q0_r1_4" value="3"></td>
                      <td><input type="radio" name="q0_r1_4" value="4"></td>
                    </tr>
                  <tr>
                      <td >wenn es sonnig ist, um mehr Energie aus der Photovoltaikanlage zu verbrauchen</td>
                      <td><input type="radio" name="q0_r1_5" value="0"></td> 
                      <td><input type="radio" name="q0_r1_5" value="1"></td>
                      <td><input type="radio" name="q0_r1_5" value="2"></td> 
                      <td><input type="radio" name="q0_r1_5" value="3"></td>
                      <td><input type="radio" name="q0_r1_5" value="4"></td>
                    </tr>
                    <tr>
                      <td >wenn es die Energie- oder Wasserwirtschaft erlaubt</td>
                      <td><input type="radio" name="q0_r1_6" value="0"></td> 
                      <td><input type="radio" name="q0_r1_6" value="1"></td>
                      <td><input type="radio" name="q0_r1_6" value="2"></td> 
                      <td><input type="radio" name="q0_r1_6" value="3"></td>
                      <td><input type="radio" name="q0_r1_6" value="4"></td>
                    </tr>
                    <tr>
                      <td >immer dann, wenn ich/wir aufgrund eines sehr vollen Terminkalenders die Zeit dafür haben</td>
                      <td><input type="radio" name="q0_r1_7" value="0"></td> 
                      <td><input type="radio" name="q0_r1_7" value="1"></td>
                      <td><input type="radio" name="q0_r1_7" value="2"></td> 
                      <td><input type="radio" name="q0_r1_7" value="3"></td>
                      <td><input type="radio" name="q0_r1_7" value="4"></td>
                    </tr>
                    <tr>
                      <td >wenn es die gewohnte Zeit ist - ich/wir mögen Routinen</td>
                      <td><input type="radio" name="q0_r1_8" value="0"></td> 
                      <td><input type="radio" name="q0_r1_8" value="1"></td>
                      <td><input type="radio" name="q0_r1_8" value="2"></td> 
                      <td><input type="radio" name="q0_r1_8" value="3"></td>
                      <td><input type="radio" name="q0_r1_8" value="4"></td>
                    </tr>
            </table>

            <p style="margin-top: 70px;">
                <input class="link-btn button" type="submit" value="Nächste Seite" />
            </p>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/questions.js')}}"></script>
    
</body>
