<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>

		 
		 
		 
	  
  		 

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">

        <!--Disable Browser Back Button-->
        <script type="text/javascript">
            window.history.pushState(null, null, window.location.href);
            window.onpopstate = function () {
                window.history.go(1);
            };
        </script>

</head>

<body>
    <div class="page-header"></div> 
    
    <div class="questions-form"> 
        <form  action="/questions_1b" method="get">
            
            <p><font color="red">*</font><strong>Assuming the scenario comes true, how likely is it that you will actually run the dishwasher as you have indicated?</strong></p>
            <!--Single answer-->
            <input type="radio" name="q1a_r1" value="1">Not at all likely&emsp;&emsp;
            <input type="radio" name="q1a_r1" value="2">Not likely&emsp;&emsp;
            <input type="radio" name="q1a_r1" value="3">Somewhat likely&emsp;&emsp;
            <input type="radio" name="q1a_r1" value="4">Likely&emsp;&emsp;
            <input type="radio" name="q1a_r1" value="5">Very likely

            <br><br>

            <p><strong>In the previous scenario, how did you adjust your washing habits?</strong></p>
            <!--Single answer-->
            <input type="radio" name="q1a_r2" value="1">To achieve the maximum economic saving<br>
            <input type="radio" name="q1a_r2" value="2">To achieve the right trade-off between economic savings and inconvenience<br>
            <input type="radio" name="q1a_r2" value="3">To achieve higher than average economic savings<br>
            <input type="radio" name="q1a_r2" value="4">For the interest in testing the results of different actions<br>
            <input type="radio" name="q1a_r2" value="5">For the fun of using the tool<br>
            <input type="radio" name="q1a_r2" value="6">I would not adjust my washing habits<br>
            <input type="radio" name="q1a_r2" value="7" id="option-other">Other  <input type="text" id="option-other-text" placeholder="..." style="display: none;">

            <br><br>

            <p><strong>Assuming the scenario comes true, how could you/your household perform the new washing habits?</strong></p>
            <!--Single answer-->
            <input type="radio" name="q1a_r3" value="1">Changing the routines and manually running the appliance when desired<br>
            <input type="radio" name="q1a_r3" value="2">Using the automated programmer or start delay function<br>
            <input type="radio" name="q1a_r3" value="3">Both of the above<br>
            <input type="radio" name="q1a_r3" value="4">I would not adjust my washing habits<br>
            
            <p style="margin-top: 50px;">     
                <input class="link-btn button" type="submit" value="Next page" />
            </p>
        </form>
    </div>

    <script>
        const text_box = document.getElementById('option-other-text');

        function handleRadioClick() {
        if (document.getElementById('option-other').checked) {
            text_box.style.display = 'inline-block';
        } else {
            text_box.style.display = 'none';
        }
        }

        const radioButtons = document.querySelectorAll('input[name="q1a_r2"]');
        radioButtons.forEach(radio => {
        radio.addEventListener('click', handleRadioClick);
        });

    </script>

</body>