<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">

</head>

<body>
    <div class="page-header"></div> 

    <div class="questions-form"> 
        
        <form  action="/experiment_0" method="get">


            <p><strong>In a typical week, how many loads of dish washing are typically done in your household?</strong></p>
            <!--Single answer-->
            <input type="radio" name="frequency_dishwashing" value="0.5">Less than 1 load a week<br>
            <input type="radio" name="frequency_dishwashing" value="1">1 load per week<br>
            <input type="radio" name="frequency_dishwashing" value="2">2 loads per week<br>
            <input type="radio" name="frequency_dishwashing" value="3">3 loads per week<br>
            <input type="radio" name="frequency_dishwashing" value="4">4 loads per week<br>
            <input type="radio" name="frequency_dishwashing" value="5">5 loads per week<br>
            <input type="radio" name="frequency_dishwashing" value="6">6 loads per week<br>
            <input type="radio" name="frequency_dishwashing" value="7">7 loads per week<br>
            <input type="radio" name="frequency_dishwashing" value="8">8 loads per week<br>
            <input type="radio" name="frequency_dishwashing" value="9">9 loads per week<br>
            <input type="radio" name="frequency_dishwashing" value="10">10 loads per week or more<br>


            <p><strong>Which of the following washing program is used when washing dishes?</strong></p>
            
            <table cellspacing="0" style="width: 100%;"> 
                <tr >
                    <th class="highlight-cell"></th> 
                    <th class="highlight-cell">Never </th>
                    <th class="highlight-cell">Very rarely </th>
                    <th class="highlight-cell">Rarely</th>
                    <th class="highlight-cell">Sometimes</th>
                    <th class="highlight-cell">Often</th>
                    <th class="highlight-cell">Very often</th>
                    <th class="highlight-cell">Always</th>
                </tr>
                <tr>
                    <td >ECO (50°C)</td>
                    <td><input type="radio" name="programECO" value="1"></td> 
                    <td><input type="radio" name="programECO" value="2"></td>
                    <td><input type="radio" name="programECO" value="3"></td> 
                    <td><input type="radio" name="programECO" value="4"></td>
                    <td><input type="radio" name="programECO" value="5"></td>
                    <td><input type="radio" name="programECO" value="6"></td>
                    <td><input type="radio" name="programECO" value="7"></td>
                </tr>
                <tr>
                    <td >Normal/Regular/everyday (60/65°C)</td>
                    <td><input type="radio" name="programNormal" value="1"></td> 
                    <td><input type="radio" name="programNormal" value="2"></td>
                    <td><input type="radio" name="programNormal" value="3"></td> 
                    <td><input type="radio" name="programNormal" value="4"></td>
                    <td><input type="radio" name="programNormal" value="5"></td>
                    <td><input type="radio" name="programNormal" value="6"></td>
                    <td><input type="radio" name="programNormal" value="7"></td>
                </tr>
                <tr>
                    <td >Intensive/pots & pans/heavy (70/75°C)</td>
                    <td><input type="radio" name="programIntensive" value="1"></td> 
                    <td><input type="radio" name="programIntensive" value="2"></td>
                    <td><input type="radio" name="programIntensive" value="3"></td> 
                    <td><input type="radio" name="programIntensive" value="4"></td>
                    <td><input type="radio" name="programIntensive" value="5"></td>
                    <td><input type="radio" name="programIntensive" value="6"></td>
                    <td><input type="radio" name="programIntensive" value="7"></td>
                    </tr>
                <tr>
                    <td >Auto/sensor</td>
                    <td><input type="radio" name="programAuto" value="1"></td> 
                    <td><input type="radio" name="programAuto" value="2"></td>
                    <td><input type="radio" name="programAuto" value="3"></td> 
                    <td><input type="radio" name="programAuto" value="4"></td>
                    <td><input type="radio" name="programAuto" value="5"></td>
                    <td><input type="radio" name="programAuto" value="6"></td>
                    <td><input type="radio" name="programAuto" value="7"></td>
                </tr>
                <tr>
                    <td >Gentle/delicate/glasses wash (35/45°C)</td>
                    <td><input type="radio" name="programGentle" value="1"></td> 
                    <td><input type="radio" name="programGentle" value="2"></td>
                    <td><input type="radio" name="programGentle" value="3"></td> 
                    <td><input type="radio" name="programGentle" value="4"></td>
                    <td><input type="radio" name="programGentle" value="5"></td>
                    <td><input type="radio" name="programGentle" value="6"></td>
                    <td><input type="radio" name="programGentle" value="7"></td>
                </tr>
                <tr>
                    <td >Quick/fast (45°C, Jet, 30', express,…)</td>
                    <td><input type="radio" name="programQuickLow" value="1"></td> 
                    <td><input type="radio" name="programQuickLow" value="2"></td>
                    <td><input type="radio" name="programQuickLow" value="3"></td> 
                    <td><input type="radio" name="programQuickLow" value="4"></td>
                    <td><input type="radio" name="programQuickLow" value="5"></td>
                    <td><input type="radio" name="programQuickLow" value="6"></td>
                    <td><input type="radio" name="programQuickLow" value="7"></td>
                </tr>
                <tr>
                    <td >Quick/fast (60°C, power, plus,…)</td>
                    <td><input type="radio" name="programQuickHigh" value="1"></td> 
                    <td><input type="radio" name="programQuickHigh" value="2"></td>
                    <td><input type="radio" name="programQuickHigh" value="3"></td> 
                    <td><input type="radio" name="programQuickHigh" value="4"></td>
                    <td><input type="radio" name="programQuickHigh" value="5"></td>
                    <td><input type="radio" name="programQuickHigh" value="6"></td>
                    <td><input type="radio" name="programQuickHigh" value="7"></td>
                </tr>
            </table>

            <p style="margin-top: 70px;">
                <input class="link-btn button" type="submit" value="Next page" />
            </p>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/questions.js')}}"></script>
    
</body>
