<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">

        <!--Disable Browser Back Button-->
        <script type="text/javascript">
            window.history.pushState(null, null, window.location.href);
            window.onpopstate = function () {
                window.history.go(1);
            };
        </script>

</head>

<body>
    <div class="page-header"></div>   

    <div class="questions-form"> 
        <form  action="/questions_2b" method="get">
            
            <p><strong>Angenommen, das Szenario wird wahr: Wie wahrscheinlich ist es, dass Sie den Geschirrspüler tatsächlich so betreiben, wie Sie es angegeben haben?</strong></p>
            <!--Single answer-->
            <input type="radio" name="q2a_r1" value="1">Überhaupt nicht wahrscheinlich  <br>
            <input type="radio" name="q2a_r1" value="2">Nicht wahrscheinlich <br>
            <input type="radio" name="q2a_r1" value="3">Einigermaßen wahrscheinlich <br>
            <input type="radio" name="q2a_r1" value="4">Wahrscheinlich <br>
            <input type="radio" name="q2a_r1" value="5">Sehr wahrscheinlich

            <br><br>

            <p><strong>Angenommen, das Szenario wird wahr: Wie könnten Sie/Ihr Haushalt die neuen Abwaschgewohnheiten umsetzen?</strong></p>
            <!--Single answer-->
            <input type="radio" name="q2a_r2" value="1">Ändern der Routinen und manuelles Starten des Geräts, wenn gewünscht<br>
            <input type="radio" name="q2a_r2" value="2">Verwendung des automatischen Programme oder der Startverzögerungsfunktion<br>
            <input type="radio" name="q2a_r2" value="3">Beide der oben genannten<br>
            <input type="radio" name="q2a_r2" value="4">Ich würde meine Abwaschgewohnheiten nicht ändern<br>
            
            
            <p style="margin-top: 100px;">
                <input class="link-btn button" type="submit" value="Nächste Seite" />
       
            </p>

        </form>
    </div>

    <script src="{{ url_for('static', filename='js/questions.js')}}"></script>

</body>