<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-orange.min.css" />
		  
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

		<!-- Web fonts -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700|Source+Serif+Pro:700" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">

        <!--Disable Browser Back Button-->
        <script type="text/javascript">
            window.history.pushState(null, null, window.location.href);
            window.onpopstate = function () {
                window.history.go(1);
            };
        </script>

</head>

<body>
    <div class="page-header"></div> 
    
    <div class="questions-form"> 
        <form  action="/experiment_4" method="get">
            
            <p><strong>
                To consume more energy from renewable sources, how likely are you or your household to implement the following actions?
            </strong></p>
            <table cellspacing="0" style="width: 100%;"> 
                <tr >
                    <th style="width: 50%;"class="highlight-cell"></th> 
                    <th class="highlight-cell">Definitely not</th> 
                    <th class="highlight-cell">Probably not</th>
                    <th class="highlight-cell">Possibly not</th>
                    <th class="highlight-cell">Possibly</th>
                    <th class="highlight-cell">Probably</th>
                    <th class="highlight-cell">Definitely</th>
                </tr>
                <tr>
                    <td >To select washing programs with higher energy intensity (e.g., a higher washing temperature) only during periods when electricity from renewable source is highly available</td>
                    <td><input type="radio" name="q3b_r1_1" value="0"></td> 
                    <td><input type="radio" name="q3b_r1_1" value="1"></td>
                    <td><input type="radio" name="q3b_r1_1" value="2"></td> 
                    <td><input type="radio" name="q3b_r1_1" value="3"></td>
                    <td><input type="radio" name="q3b_r1_1" value="4"></td>
                    <td><input type="radio" name="q3b_r1_1" value="5"></td>
                    </tr>
                <tr>
                    <td >To schedule washing on days when more renewable power (e.g. PV or wind) is available</td>
                    <td><input type="radio" name="q3b_r1_2" value="0"></td> 
                    <td><input type="radio" name="q3b_r1_2" value="1"></td>
                    <td><input type="radio" name="q3b_r1_2" value="2"></td> 
                    <td><input type="radio" name="q3b_r1_2" value="3"></td>
                    <td><input type="radio" name="q3b_r1_2" value="4"></td>
                    <td><input type="radio" name="q3b_r1_2" value="5"></td>
                    </tr>
                  
            </table>

            <p style="margin-top: 100px;">
                <input class="link-btn button" onclick="window.location.href = '/experiment_4';" type="submit" value="Next page" />
       
            </p>
        </form>
    </div>
</body>