<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.css" />

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">

        <!--Disable Browser Back Button-->
        <script type="text/javascript">
            window.history.pushState(null, null, window.location.href);
            window.onpopstate = function () {
                window.history.go(1);
            };
        </script>


</head>

<body>
	
	<div id="fullPage">

		<div class="section s1">
			<div class="slide">
				<div class="page-content">
						<div id="conclusion">
							
							
							<img src="../static/img/EPFL_logo.png" class="img-epfl" alt="tool">

							<p style="text-align: center;"> 
								We thank you for your time spent taking this survey. 
								<br> <br>
								Please press the button at the bottom to proceed and record your answers.
								<br> <br>
								If you want to have more information about the project you can contact directly the reference researcher at the following email: 
								<br> matteo.barsanti@epfl.ch
							</p>
						</div>
						<p>
							<button class="link-btn" id="scroll-down" onclick="location.href='https://survey.maximiles.com/complete?p=74503_634d9f5e&m={{m_field}}'">Submit</button>
						</p>
				</div>
			</div>
		</div>
	</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.js"></script>
<script>
	new fullpage('#fullPage',{
			anchors: ['Conclusion'],
			autoScrolling : true,
			navigation : true,
			slidesNavigation : true,
			controlArrows : false,
			scrollingSpeed :1000,
		navigationTooltips: [
			"Conclusion",
		],
		afterSlideLoad: function( section, origin, destination, direction){
		var loadedSlide = this;
		},
	})
</script>

</html>