<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.css" />

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">

</head>

<body>
	
	<div id="fullPage">

		<div class="section s1">
			<div class="slide">
				<div class="page-content">
						<div id="conclusion">
							
							<img src="../static/img/EPFL_logo.png" class="img-epfl" alt="tool">

							<p style="text-align: center;"> 
								We thank you for your time spent using this tool. 
								<br> <br>
								If you want to have more information about the project you can contact directly the reference researcher at the following email: 
								<br> matteo.barsanti@epfl.ch
							</p>
						</div>
	
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.js"></script>
	<script>
		new fullpage('#fullPage',{
				anchors: ['Conclusion'],
				autoScrolling : true,
				navigation : true,
				slidesNavigation : true,
				controlArrows : false,
				scrollingSpeed :1000,
			navigationTooltips: [
				"Conclusion",
			],
			afterSlideLoad: function( section, origin, destination, direction){
			var loadedSlide = this;
			},
		})
	</script>

</body>

</html>