<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>
		
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">
</head>


<body>
	<div id="fullPage">
		<div class="section s1">
			<div class="title">

				<img src="../static/img/EPFL_logo.png" class="img-epfl" alt="tool">

					<p style="text-align: center;">
						<strong> Welcome! </strong>
						<br> <br> 
						This is an illustrative version of tool used by the HERUS laboratory (EPFL) for investigating <strong>household energy consumption.</strong> 
						In particular, it focuses on a set of domestic appliances (i.e., <strong>washing machine and dishwasher</strong>), which are used more or less 
						frequently in daily life. 
						<br> <br> 
						<strong>This illustrative version does not store the data provided by you or any data related to it. </strong>
						<br> <br> 
						The tool comprises questions about <strong>when and how these appliances are used</strong> in your household.
						It has been used in previous research to understand how current and future energy demand can be met by renewable energy and 
						to identify energy system management strategies that reduce costs and emissions while meeting the everyday needs of citizens.
						<br> <br> 
						By answering the following questions you can better understand the impact of your current laundry and dishwashing practices and 
						how you can change them to <strong>reduce your energy bill, increase the percentage of energy from renewable sources, or reduce the risk of grid blackouts.</strong>
					</p>
					<p>
						<button class="link-btn" id="scroll-down" onclick="location.href='/socio_demo'">Start</button>
					</p>
			</div>
		</div>
		
	</div>	
</body>

</html>