<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>

		<!--Scrolling page-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.css" /> 
  
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">
</head>


<body>
	<div id="fullPage">
		<div class="section s1">
			<div class="title">
				<!-- <h1 class="main_title">Adaptive-experiment</h1> -->
				
				<img src="../static/img/EPFL_logo.png" class="img-epfl" alt="tool">

					<p style="text-align: center;">
						<strong> Welcome! </strong>
						<br> <br> 
						This is an illustrative version of tool used by the HERUS laboratory (EPFL) for investigating <strong>household energy consumption.</strong> 
						In particular, it focuses on a set of domestic appliances (i.e., <strong>washing machine and dishwasher</strong>), which are used more or less 
						frequently in daily life. 
						<br> <br> 
						<strong>This illustrative version does not store the data provided by you or any data related to it. </strong>
						<br> <br> 
						The tool comprises questions about <strong>when and how these appliances are used</strong> in your household.
						It has been used in previous research to understand what portion of current and future energy demand can be met by renewable energy and 
						to identify energy system management strategies that reduce costs and emissions while meeting the everyday needs of citizens.
						<br> <br> 
						Although none of the information you provide will be stored, answering the following questions can help you <strong>understand the impact 
						(in terms of cost, percentage of energy from renewable sources, or consumption during grid congestion hours) of your current laundry and dishwashing practices </strong>
						and how, eventually, to modify them in ways that are more relevant for you. 
						<br> <br> 
					</p>
					<p>
						<button class="link-btn" id="scroll-down" onclick="location.href='/socio_demo'">Start</button>
					</p>
			</div>
		</div>
		
	</div>	
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.js"></script>
	<script>
		new fullpage('#fullPage',{
				anchors: ['Title', 'Demo1','Demo2'],
				autoScrolling : true,
				navigation : true,
				slidesNavigation : true,
				controlArrows : false,
				scrollingSpeed :1000,
			navigationTooltips: [
				"Title",
				"Tutorial1",
				"Tutorial2",
			],
			afterSlideLoad: function( section, origin, destination, direction){
			var loadedSlide = this;
			//load();
			},
		})
	</script>

</body>

</html>