<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-orange.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

		<!-- Web fonts -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700|Source+Serif+Pro:700" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">

</head>

<body>
	<div id="fullPage">

		<div class="section s1">
			<div class="title">
				<h1 class="main_title">The MoMeEnT Project</h1>
				<h2> A slogan here</h2>
				<p>
					<button class="link-btn" id="scroll-down" onclick="location.href='#Demo'">Scroll down</button>
				</p>
			</div>
		</div>

		<div class="section s2">
			<div class="page-content">
					<div id="demo">
						<h2>Introduction</h2>
						<hr>
						<p>PLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
							Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>

						<iframe id="video"  height="500" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe> 
						
						<p>
							<button class="link-btn" id="scroll-down" onclick="location.href='/experiment0'">Start</button>
						</p>
					</div>
			</div>
		</div>
		
	</div>

	<script src="{{ url_for('static', filename='js/app.js')}}"></script>
	<script src="{{ url_for('static', filename='js/index.js')}}"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.js"></script>
	<script>
		new fullpage('#fullPage',{
				anchors: ['Title', 'Demo'],
				autoScrolling : true,
				navigation : true,
				slidesNavigation : true,
				controlArrows : false,
				scrollingSpeed :1000,
			navigationTooltips: [
				"Title",
				"Introduction",
			],
			afterSlideLoad: function( section, origin, destination, direction){
			var loadedSlide = this;
			//load();
			},
		})
	</script>

</body>

<footer>
  <p>HERUS Lab - EPFL</p>
</footer>

</html>