<!DOCTYPE html>
<head>
    <title>Welcome !</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}"> <!--href is a flask function here-->
</head>
<body>
    <form action="" method="post">
        <label for="n_households">Nb. of households:</label>
        <input type="text" id="n_households" name="n_households" placeholder="n_households">
        <button type="submit">Submit</button>
    </form>
    <img src='data:image/png;base64,{{plot}}'/>
</body>