<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>

		 
		 
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.css" />
		 
	  
		<!-- Web fonts -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700|Source+Serif+Pro:700" rel="stylesheet">
		 

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">

</head>



<body>
	<div id="fullPage">
		<div class="section s1">
			<div class="title">

				<img src="../static/img/intro_tutorial.JPG" class="img-tutorial" alt="tool">
				<p>
					<button class="link-btn" id="scroll-down" onclick="location.href='#Demo1'">Scroll down</button>
				</p>
			</div>
		</div>


		<div class="section s2">
			<div class="page-content">
					<div id="demo1">
						
						<img src="../static/img/tutorial1.JPG" class="img-tutorial" alt="tool">

						<p>
						    <button class="link-btn" id="scroll-down" onclick="location.href='#Demo2'">Scroll down</button>
						</p>
					</div>
			</div>
		</div>

		<div class="section s3">
			<div class="page-content">
					<div id="demo2">
						
						<img src="../static/img/tutorial2.JPG" class="img-tutorial" alt="tool">

						<p>
						    <button class="link-btn" id="scroll-down" onclick="location.href='#Demo3'">Scroll down</button>
						</p>
					</div>
			</div>
		</div>

		<div class="section s4">
			<div class="page-content">
					<div id="demo3">
						
						<img src="../static/img/tutorial3.JPG" class="img-tutorial" alt="tool">

						<p>
						    <button class="link-btn" id="scroll-down" onclick="location.href='#Demo4'">Scroll down</button>
						</p>
					</div>
			</div>
		</div>
		
		<div class="section s5">
			<div class="page-content">
				<div id="demo4">
					<img src="../static/img/tutorial4.JPG" class="img-tutorial" alt="tool">						
					<p>
						<button class="link-btn" id="scroll-down" onclick="location.href='/experiment_1'">Start</button>
					</p>
				</div>
			</div>
		</div>
		
	</div>

 	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.js"></script>
	<script>
		new fullpage('#fullPage',{
				anchors: ['Title', 'Demo1','Demo2','Demo3','Demo4'],
				autoScrolling : true,
				navigation : true,
				slidesNavigation : true,
				controlArrows : false,
				scrollingSpeed :1000,
			navigationTooltips: [
				"Title",
				"Tutorial1",
				"Tutorial2",
				"Tutorial3",
				"Tutorial4",
			],
			afterSlideLoad: function( section, origin, destination, direction){
			var loadedSlide = this;
			//load();
			},
		})
	</script>

</body>

</html>