<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-orange.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

		<!-- Web fonts -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700|Source+Serif+Pro:700" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">

        <!--Disable Browser Back Button-->
        <script type="text/javascript">
            window.history.pushState(null, null, window.location.href);
            window.onpopstate = function () {
                window.history.go(1);
            };
        </script>

</head>

<body>
    <div class="page-header"></div> 
    
    <div class="questions-form"> 
        <form  action="/questions_1b" method="get">
            
            <h3>Question1</h3>
            <p>Assuming the scenario comes true, how likely is it that you will actually run the washing machine as indicated?</p>
            <!--Single answer-->
            <input type="radio" name="q1a_r1" value="1">Definitely not<br>
            <input type="radio" name="q1a_r1" value="2">Probably not<br>
            <input type="radio" name="q1a_r1" value="3">Possibly not <br>
            <input type="radio" name="q1a_r1" value="4">Possible<br>
            <input type="radio" name="q1a_r1" value="5">Probably<br>
            <input type="radio" name="q1a_r1" value="6">Definetely<br>


            <h3>Question2</h3>
            <p>What strategy did you follow to adjust the operation of the dishwasher according to the previous scenario?</p>
            <!--Single answer-->
            <input type="radio" name="q1a_r2" value="1">To achieve the maximum<br>
            <input type="radio" name="q1a_r2" value="2">To achieve the right trade-off between (savings) and inconvenience<br>
            <input type="radio" name="q1a_r2" value="3">To achieve higher than average (savings) (only when peer comparison)<br>
            <input type="radio" name="q1a_r2" value="4">For the interest in testing the results of different actions<br>
            <input type="radio" name="q1a_r2" value="5">For the fun of using the tool<br>
            <input type="radio" name="q1a_r2" value="6">Other<br>

            <h3>Question3</h3>
            <p>How can you/your household change when running the (washing machine/dishwasher) as indicated above in response to (the variable electricity price scenario)?</p>
            <!--Single answer-->
            <input type="radio" name="q1a_r3" value="1">Manually<br>
            <input type="radio" name="q1a_r3" value="2">Using the automated programmer or start delay function<br>
            <input type="radio" name="q1a_r3" value="3">Both<br>
            
            <h3>Question4</h3>
            <table cellspacing="0" style="width: 100%; "> <!--60% of the width of the window-->
                <tr >
                  <th style="width: 50%;" class="highlight-cell">Question</th> <!--50% of the table's width-->
                  <th class="highlight-cell">Definitely not</th> 
                  <th class="highlight-cell">Probably not</th>
                  <th class="highlight-cell">Possibly not</th>
                  <th class="highlight-cell">Possibly</th>
                  <th class="highlight-cell">Probably</th>
                  <th class="highlight-cell">Definitely</th>
                </tr>
                <tr>
                  <td >To reduce the number of wash cycles per week</td>
                  <!--q2a_r2_1 correpsonds to the 1st statement from the 2nd question (r2) of list of questions q2a-->
                  <td><input type="radio" name="q1a_r4_1" value="0"></td> 
                  <td><input type="radio" name="q1a_r4_1" value="1"></td>
                  <td><input type="radio" name="q1a_r4_1" value="2"></td> 
                  <td><input type="radio" name="q1a_r4_1" value="3"></td>
                  <td><input type="radio" name="q1a_r4_1" value="4"></td>
                  <td><input type="radio" name="q1a_r4_1" value="5"></td>
                </tr>
                <tr>
                  <td >Generally, select washing programs that use less energy (e.g., a lower washing temperature)</td>
                  <td><input type="radio" name="q1a_r4_2" value="0"></td> 
                  <td><input type="radio" name="q1a_r4_2" value="1"></td>
                  <td><input type="radio" name="q1a_r4_2" value="2"></td> 
                  <td><input type="radio" name="q1a_r4_2" value="3"></td>
                  <td><input type="radio" name="q1a_r4_2" value="4"></td>
                  <td><input type="radio" name="q1a_r4_2" value="5"></td>
                </tr>
                <tr>
                    <td >Select washing programs with lower energy intensity (e.g., a lower washing temperature) during periods when (electricity prices/peak are higher)</td>
                    <td><input type="radio" name="q1a_r4_3" value="0"></td> 
                    <td><input type="radio" name="q1a_r4_3" value="1"></td>
                    <td><input type="radio" name="q1a_r4_3" value="2"></td> 
                    <td><input type="radio" name="q1a_r4_3" value="3"></td>
                    <td><input type="radio" name="q1a_r4_3" value="4"></td>
                    <td><input type="radio" name="q1a_r4_3" value="5"></td>
                    </tr>
                <tr>
                    <td >(price and peak scenarios) Weekend washing if prices are lower compared to weekdays.</td>
                    <td><input type="radio" name="q1a_r4_4" value="0"></td> 
                    <td><input type="radio" name="q1a_r4_4" value="1"></td>
                    <td><input type="radio" name="q1a_r4_4" value="2"></td> 
                    <td><input type="radio" name="q1a_r4_4" value="3"></td>
                    <td><input type="radio" name="q1a_r4_4" value="4"></td>
                    <td><input type="radio" name="q1a_r4_4" value="5"></td>
                  </tr>
                  <tr>
                    <td >To generally reduce the use frequency of tumble dryer.</td>
                    <td><input type="radio" name="q1a_r4_5" value="0"></td> 
                    <td><input type="radio" name="q1a_r4_5" value="1"></td>
                    <td><input type="radio" name="q1a_r4_5" value="2"></td> 
                    <td><input type="radio" name="q1a_r4_5" value="3"></td>
                    <td><input type="radio" name="q1a_r4_5" value="4"></td>
                    <td><input type="radio" name="q1a_r4_5" value="5"></td>
                    </tr>
                <tr>
                    <td >To avoid drying with tumble dryer during high price periods.</td>
                    <td><input type="radio" name="q1a_r4_6" value="0"></td> 
                    <td><input type="radio" name="q1a_r4_6" value="1"></td>
                    <td><input type="radio" name="q1a_r4_6" value="2"></td> 
                    <td><input type="radio" name="q1a_r4_6" value="3"></td>
                    <td><input type="radio" name="q1a_r4_6" value="4"></td>
                    <td><input type="radio" name="q1a_r4_6" value="5"></td>
                  </tr>
            </table>

            <p style="margin-top: 100px;">
                <input class="link-btn button" onclick="window.location.href = '/questions_1b';" type="submit" value="Next page" />
       
            </p>
        </form>
    </div>
</body>