<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">

        <!--Disable Browser Back Button-->
        <script type="text/javascript">
            window.history.pushState(null, null, window.location.href);
            window.onpopstate = function () {
                window.history.go(1);
            };
        </script>

</head>

<body>
    <div class="page-header"></div> 
    
    <div class="questions-form"> 
        <form  action="/experiment_4" method="get">
            
            <p><strong>
                Um mehr Energie aus erneuerbaren Quellen zu verbrauchen, wie wahrscheinlich ist es, dass Sie oder Ihr Haushalt die folgenden Maßnahmen durchführen?
            </strong></p>
            <table cellspacing="0" style="width: 100%;"> 
                <tr >
                    <th style="width: 50%;"class="highlight-cell"></th>
                    <th class="highlight-cell">Überhaupt nicht <br> wahrscheinlich</th> 
                    <th class="highlight-cell">Nicht <br>wahrscheinlich</th>
                    <th class="highlight-cell">Einigermaßen <br> wahrscheinlich </th>
                    <th class="highlight-cell">Wahrscheinlich </th>
                    <th class="highlight-cell">Sehr <br>wahrscheinlich</th>
                </tr>
                <tr>
                    <td >Waschprogramme mit höherer Energieintensität (z. B. eine höhere Waschtemperatur) nur in Zeiten wählen, 
                        in denen Strom aus erneuerbaren Quellen in hohem Maße verfügbar ist</td>
                    <td><input type="radio" name="q3b_r1_1" value="0"></td> 
                    <td><input type="radio" name="q3b_r1_1" value="1"></td>
                    <td><input type="radio" name="q3b_r1_1" value="2"></td> 
                    <td><input type="radio" name="q3b_r1_1" value="3"></td>
                    <td><input type="radio" name="q3b_r1_1" value="4"></td>
                    </tr>
                <tr>
                    <td >Waschen an Tagen, an denen mehr Strom aus erneuerbaren Energien zur Verfügung steht</td> 
                    <td><input type="radio" name="q3b_r1_2" value="0"></td> 
                    <td><input type="radio" name="q3b_r1_2" value="1"></td>
                    <td><input type="radio" name="q3b_r1_2" value="2"></td> 
                    <td><input type="radio" name="q3b_r1_2" value="3"></td>
                    <td><input type="radio" name="q3b_r1_2" value="4"></td>
                    </tr>
                <tr id="q3b_r1_3">
                    <td >Den Wäschetrockner nur dann zu benutzen, wenn mehr Strom aus erneuerbaren Energien verfügbar ist</td>
                    <td><input type="radio" name="q3b_r1_3" value="0"></td> 
                    <td><input type="radio" name="q3b_r1_3" value="1"></td>
                    <td><input type="radio" name="q3b_r1_3" value="2"></td> 
                    <td><input type="radio" name="q3b_r1_3" value="3"></td>
                    <td><input type="radio" name="q3b_r1_3" value="4"></td>
                    </tr>
                  
            </table>

            <p style="margin-top: 100px;">
                <input class="link-btn button" type="submit" value="Nächste Seite" />       
            </p>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/questions.js')}}"></script>
    <script>
        var drying = {{data.drying|tojson}}
        if (drying == "FALSE") {
          document.getElementById("q3b_r1_3").remove()
        }
    </script>
    
</body>