<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-orange.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

		<!-- Web fonts -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700|Source+Serif+Pro:700" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">

        <!--Disable Browser Back Button-->
        <script type="text/javascript">
            window.history.pushState(null, null, window.location.href);
            window.onpopstate = function () {
                window.history.go(1);
            };
        </script>

</head>

<body>
    <!--TODO: change text of the popup help here-->
    <div class="popup" onclick="popupFunctionExp1()">
        <i class="fa fa-question-circle-o" style="font-size:36px;"></i>
        <span class="popuptext" id="popupExp1">Popup text... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
    </div> 

    <h2>Questions 1-a washing machine</h2>
    <hr>
    
    <div class="questions-form"> 
        <form  action="/questions_1b" method="get">
            <h3>Question1</h3>
            <p>Type of the household:</p>
            <!--Single answer-->
            <input type="radio" name="q1a_r1" value="1" checked>Type1<br>
            <input type="radio" name="q1a_r1" value="2">Type2<br>
            <input type="radio" name="q1a_r1" value="3">Type3 <br>

            <h3>Question2</h3>
            <p>Number of residents in the household:</p>
            <!--Text answer-->
            <textarea id="response" name="q1a_r2" placeholder="Please type your answer here"></textarea>

            <h3>Question3</h3>
            <p>Types of machines you have in your household:</p>
            <!--Multiple choice answer-->
            <input type="checkbox" name="q1a_r3" value="washmachine">Washing machine<br>
            <input type="checkbox" name="q1a_r3" value="dishwasher">Dishwasher<br>
            <input type="checkbox" name="q1a_r3" value="dryer">Clothes dryer<br>
            <input type="checkbox" name="q1a_r3" value="fridge">Fridge<br>
            <input type="checkbox" name="q1a_r3" value="e-stove">Electronic stove<br>
            <input type="checkbox" name="q1a_r3" value="tv">TV<br>
            <input type="checkbox" name="q1a_r3" value="e-car">E-car<br>

            <p style="margin-top: 100px;">
                <input class="link-btn button" onclick="window.location.href = '/questions_1b';" type="submit" value="Next page" />
       
            </p>
        </form>
    </div>

	<script src="{{ url_for('static', filename='js/app.js')}}"></script>

</body>