<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>

		 
		 
		  
		 
	  
		<!-- Web fonts -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700|Source+Serif+Pro:700" rel="stylesheet">
		 

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">

        <!--Disable Browser Back Button-->
        <script type="text/javascript">
            window.history.pushState(null, null, window.location.href);
            window.onpopstate = function () {
                window.history.go(1);
            };
        </script>


</head>

<body>
	<div class="page-header"></div> 

	<div class="questions-form"> 
        <form  action="/conclusion" method="get">

			<h3>Question1</h3> 
			<p>Do you think that knowing more about when and how much energy different appliance consume 
				would help you take more informed decisions about when and how to use them?</p>

			<input type="radio" name="qfb_r1" value="0">Strongly disagree
			<input type="radio" name="qfb_r1" value="1">Disagree
			<input type="radio" name="qfb_r1" value="2">Slightly disagree
			<input type="radio" name="qfb_r1" value="3">Slightly agree
			<input type="radio" name="qfb_r1" value="4">Agree
			<input type="radio" name="qfb_r1" value="5">Strongly agree

			<h3>Question2</h3>
			<p>For what appliances do you think you/your household might be interested in using a tool like the one presented above?</p>

			<input type="checkbox" name="qfb_r2" value="washmachine">Iron<br>
			<input type="checkbox" name="qfb_r2" value="dishwasher">Vacuum<br>
			<input type="checkbox" name="qfb_r2" value="dryer">Personal computer<br>
			<input type="checkbox" name="qfb_r2" value="True">TV<br>
			<input type="checkbox" name="qfb_r2" value="True">Tumble dryer<br>
			<input type="checkbox" name="qfb_r2" value="True">Dishwasher/washing machine (make conditional)<br>
			<input type="checkbox" name="qfb_r2" value="True">Electric stove<br> 
			<input type="checkbox" name="qfb_r2" value="True">Oven<br> 

			<h3>Question3</h3> 
			<p>Would you or your household be interested in using a tool like the one presented above to be informed about your (current or hypothetical) 
				energy consumption for the following devices?</p>
			
			<table cellspacing="0" style="width: 50%;"> 
			<tr >
				<th class="highlight-cell">Device</th> 
				<th class="highlight-cell">No</th>
				<th class="highlight-cell">Yes</th>
				</tr>
				<tr>
				<td >Heat pump</td>
				<td><input type="radio" name="qfb_r3_1" value="0"></td> 
				<td><input type="radio" name="qfb_r3_1" value="1"></td>
				</tr>
				<tr>
				<td >Electric vehicle</td>
				<td><input type="radio" name="qfb_r3_2" value="0"></td> 
				<td><input type="radio" name="qfb_r3_2" value="1"></td>
				</tr>
			</table>	

            <p style="margin-top: 100px;">
                <input class="link-btn button" onclick="window.location.href = '/conclusion';" type="submit" value="Next page" />
       
            </p>
        </form>
    </div>
	
 </body>

</html>