<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">

</head>

<body>
    <div class="page-header"></div> 

	<div class="questions-form"> 
        <form  action="/questions_final_b" method="get">

			<p><strong>
                According to the previous scenarios, how important are the following factors in limiting you or your household from changing the running time of the washing machine? 
            </strong></p>

			<table cellspacing="0" style="width: 100%;"> 
                <tr >
                    <th class="highlight-cell"></th> 
                    <th class="highlight-cell">Not at all <br> important</th>
                    <th class="highlight-cell">Slightly <br> important</th>
                    <th class="highlight-cell">Moderately <br> important</th>
                    <th class="highlight-cell">Very <br> important</th>
                    <th class="highlight-cell">Extremely <br> important</th>
                    <th class="highlight-cell">Does not <br> apply</th>
                </tr>
                <tr>
                    <td >The noise caused by the operation of the washing machine</td>
                    <td><input type="radio" name="qfq_r1_1" value="0"></td> 
                    <td><input type="radio" name="qfq_r1_1" value="1"></td>
                    <td><input type="radio" name="qfq_r1_1" value="2"></td> 
                    <td><input type="radio" name="qfq_r1_1" value="3"></td>
                    <td><input type="radio" name="qfq_r1_1" value="4"></td>
                    <td><input type="radio" name="qfq_r1_1" value="99"></td>
                </tr>
                <tr>
                    <td >The inconvenience caused by the inability to unload the washing machine when desired</td>
                    <td><input type="radio" name="qfq_r1_2" value="0"></td> 
                    <td><input type="radio" name="qfq_r1_2" value="1"></td>
                    <td><input type="radio" name="qfq_r1_2" value="2"></td> 
                    <td><input type="radio" name="qfq_r1_2" value="3"></td>
                    <td><input type="radio" name="qfq_r1_2" value="4"></td>
                    <td><input type="radio" name="qfq_r1_2" value="99"></td>
                </tr>
                <tr>
                    <td >The laundry would not be ready when needed</td>
                    <td><input type="radio" name="qfq_r1_3" value="0"></td> 
                    <td><input type="radio" name="qfq_r1_3" value="1"></td>
                    <td><input type="radio" name="qfq_r1_3" value="2"></td> 
                    <td><input type="radio" name="qfq_r1_3" value="3"></td>
                    <td><input type="radio" name="qfq_r1_3" value="4"></td>
                    <td><input type="radio" name="qfq_r1_3" value="99"></td>
                </tr>
                <tr>
                    <td >Problems related to the power/water management of my house</td>
                    <td><input type="radio" name="qfq_r1_4" value="0"></td> 
                    <td><input type="radio" name="qfq_r1_4" value="1"></td>
                    <td><input type="radio" name="qfq_r1_4" value="2"></td> 
                    <td><input type="radio" name="qfq_r1_4" value="3"></td>
                    <td><input type="radio" name="qfq_r1_4" value="4"></td>
                    <td><input type="radio" name="qfq_r1_4" value="99"></td>
                </tr>
                <tr>
                    <td >Risk of a malfunction while no one is home</td>
                    <td><input type="radio" name="qfq_r1_5" value="0"></td> 
                    <td><input type="radio" name="qfq_r1_5" value="1"></td>
                    <td><input type="radio" name="qfq_r1_5" value="2"></td> 
                    <td><input type="radio" name="qfq_r1_5" value="3"></td>
                    <td><input type="radio" name="qfq_r1_5" value="4"></td>
                    <td><input type="radio" name="qfq_r1_5" value="99"></td>
                </tr>
                <tr>
                    <td >The inconvenience of washing when it is not the usual time</td>
                    <td><input type="radio" name="qfq_r1_6" value="0"></td> 
                    <td><input type="radio" name="qfq_r1_6" value="1"></td>
                    <td><input type="radio" name="qfq_r1_6" value="2"></td> 
                    <td><input type="radio" name="qfq_r1_6" value="3"></td>
                    <td><input type="radio" name="qfq_r1_6" value="4"></td>
                    <td><input type="radio" name="qfq_r1_6" value="99"></td>
                </tr>
            </table>

            <br><br>

            <p><strong>
                Please list any other factors that limit you or your household from changing the run time of the washing machine that are not listed above. 
            </strong></p>
            <textarea placeholder="Type your text here..."></textarea>

            <br><br> 

            <p style="margin-top: 100px;">
                <input class="link-btn button" type="submit" value="Next page" />       
            </p>
        </form>
    </div>

    
	
 </body>
</html>