<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">

        <!--Disable Browser Back Button-->
        <script type="text/javascript">
            window.history.pushState(null, null, window.location.href);
            window.onpopstate = function () {
                window.history.go(1);
            };
        </script>


</head>

<body>
    <div class="page-header"></div> 

	<div class="questions-form"> 
        <form  action="/questions_final_b" method="get">

			<p><strong>
                Unter Berücksichtigung der vorangegangenen Szenarien: Wie wichtig sind die folgenden Faktoren, die Sie oder ihren Haushalt davon abhalten die Betriebszeit der Waschmaschine zu ändern?
            </strong></p>

			<table cellspacing="0" style="width: 100%;"> 
                <tr >
                    <th class="highlight-cell"></th> 
                    <th class="highlight-cell">Überhaupt nicht <br> wichtig</th>
                    <th class="highlight-cell">Nicht <br> wichtig</th>
                    <th class="highlight-cell">Einigermaßen <br> wichtig</th>
                    <th class="highlight-cell">Wichtig</th>
                    <th class="highlight-cell">Sehr <br> wichtig</th>
                    <th class="highlight-cell">Does not <br> apply</th>
                </tr>
                <tr>
                    <td >Der Lärm, der durch den Betrieb der Waschmaschine verursacht wird</td>
                    <td><input type="radio" name="qfq_r1_1" value="0"></td> 
                    <td><input type="radio" name="qfq_r1_1" value="1"></td>
                    <td><input type="radio" name="qfq_r1_1" value="2"></td> 
                    <td><input type="radio" name="qfq_r1_1" value="3"></td>
                    <td><input type="radio" name="qfq_r1_1" value="4"></td>
                    <td><input type="radio" name="qfq_r1_1" value="99"></td>
                </tr>
                <tr>
                    <td >Die Unannehmlichkeiten, die dadurch entstehen, dass man die Waschmaschine nicht entladen kann, wenn man es wünscht</td>
                    <td><input type="radio" name="qfq_r1_2" value="0"></td> 
                    <td><input type="radio" name="qfq_r1_2" value="1"></td>
                    <td><input type="radio" name="qfq_r1_2" value="2"></td> 
                    <td><input type="radio" name="qfq_r1_2" value="3"></td>
                    <td><input type="radio" name="qfq_r1_2" value="4"></td>
                    <td><input type="radio" name="qfq_r1_2" value="99"></td>
                </tr>
                <tr>
                    <td >Die Wäsche ist nicht fertig, wenn sie gebraucht wird</td>
                    <td><input type="radio" name="qfq_r1_3" value="0"></td> 
                    <td><input type="radio" name="qfq_r1_3" value="1"></td>
                    <td><input type="radio" name="qfq_r1_3" value="2"></td> 
                    <td><input type="radio" name="qfq_r1_3" value="3"></td>
                    <td><input type="radio" name="qfq_r1_3" value="4"></td>
                    <td><input type="radio" name="qfq_r1_3" value="99"></td>
                </tr>
                <tr>
                    <td >Probleme mit dem Strom-/Wassermanagement in meinem Haus</td>
                    <td><input type="radio" name="qfq_r1_4" value="0"></td> 
                    <td><input type="radio" name="qfq_r1_4" value="1"></td>
                    <td><input type="radio" name="qfq_r1_4" value="2"></td> 
                    <td><input type="radio" name="qfq_r1_4" value="3"></td>
                    <td><input type="radio" name="qfq_r1_4" value="4"></td>
                    <td><input type="radio" name="qfq_r1_4" value="99"></td>
                </tr>
                <tr>
                    <td >Risiko einer Fehlfunktion des Geräts, wenn niemand zu Hause ist</td>
                    <td><input type="radio" name="qfq_r1_5" value="0"></td> 
                    <td><input type="radio" name="qfq_r1_5" value="1"></td>
                    <td><input type="radio" name="qfq_r1_5" value="2"></td> 
                    <td><input type="radio" name="qfq_r1_5" value="3"></td>
                    <td><input type="radio" name="qfq_r1_5" value="4"></td>
                    <td><input type="radio" name="qfq_r1_5" value="99"></td>
                </tr>
                <tr>
                    <td >Die Unannehmlichkeiten des Waschens außerhalb der üblichen Zeiten</td>
                    <td><input type="radio" name="qfq_r1_6" value="0"></td> 
                    <td><input type="radio" name="qfq_r1_6" value="1"></td>
                    <td><input type="radio" name="qfq_r1_6" value="2"></td> 
                    <td><input type="radio" name="qfq_r1_6" value="3"></td>
                    <td><input type="radio" name="qfq_r1_6" value="4"></td>
                    <td><input type="radio" name="qfq_r1_6" value="99"></td>
                </tr>
            </table>

            <br><br>

            <p><strong>
                Bitte geben Sie alle anderen Faktoren an, die Sie oder Ihren Haushalt daran hindern, die Laufzeit der Waschmaschine zu ändern, die oben nicht aufgeführt sind. 
            </strong></p>
            <textarea placeholder="Type your text here..."></textarea>

            <br><br> 

            <p style="margin-top: 100px;">
                <input class="link-btn button" type="submit" value="Nächste Seite" />       
            </p>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/questions.js')}}"></script>
	
 </body>
</html>