<!doctype html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>MoMeEnt</title>

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">

        <!--Disable Browser Back Button-->
        <script type="text/javascript">
            window.history.pushState(null, null, window.location.href);
            window.onpopstate = function () {
                window.history.go(1);
            };
        </script>


</head>

<body>
	<div class="page-header"></div> 

	<div class="questions-form"> 
        <form  action="/conclusion" method="get">

			<p><strong>Wie haben Sie im vorherigen Szenario Ihre Waschgewohnheiten angepasst?</strong></p>
            <!--Single answer-->
            <input type="radio" name="qfb_r1" value="1">Erzielung maximaler Leistung (z. B. wirtschaftliche Einsparungen, Verringerung des Spitzenverbrauchs und des Verbrauchs erneuerbarer Energien)<br>
            <input type="radio" name="qfb_r1" value="2">Den richtigen Kompromiss zwischen Leistung und Unannehmlichkeiten zu finden<br>
            <div id="conditional"><input type="radio" name="qfb_r1" value="3">Um eine höhere Leistung als ein durchschnittlicher Haushalt zu erreichen<br></div>
            <input type="radio" name="qfb_r1" value="4">Aus dem Interesse heraus, die Ergebnisse verschiedener Maßnahmen zu testen<br>
            <input type="radio" name="qfb_r1" value="5">Aus Spaß an der Anwendung des Tools<br>
            <input type="radio" name="qfb_r1" value="6">Ich würde meine Waschgewohnheiten nicht ändern<br>
            <input type="radio" name="qfb_r1" value="7" id="option-other">Andere <input type="text" id="option-other-text" placeholder="..." style="display: none;">

			<br><br><br>

			<p><strong>
				Wären Sie oder Ihr Haushalt daran interessiert, ein Instrument wie das oben vorgestellte zu nutzen, um über Ihren (aktuellen oder hypothetischen) 
				Energieverbrauch für die folgenden Geräte informiert zu werden?
			</strong></p>
			
			<table cellspacing="0" style="width: 70%;"> 
			<tr >
				<th class="highlight-cell">Technologie</th>
				<th class="highlight-cell">Ich besitze es nicht <br> und wäre nicht daran interessiert</th>
				<th class="highlight-cell">Ich besitze es nicht, <br> wäre aber daran interessiert</th>
				<th class="highlight-cell">Ich besitze es, <br> bin aber nicht daran interessiert</th>
				<th class="highlight-cell">Ich besitze es <br> und bin daran interessiert</th>
				
			</tr>
			<tr>
				<td >Bügeleisen</td>
				<td><input type="radio" name="qfb_r2_1" value="0"></td> 
				<td><input type="radio" name="qfb_r2_1" value="1"></td>
				<td><input type="radio" name="qfb_r2_1" value="2"></td>
				<td><input type="radio" name="qfb_r2_1" value="3"></td>
			</tr>
			<tr>
				<td >Staubsauger</td>
				<td><input type="radio" name="qfb_r2_2" value="0"></td> 
				<td><input type="radio" name="qfb_r2_2" value="1"></td>
				<td><input type="radio" name="qfb_r2_2" value="2"></td>
				<td><input type="radio" name="qfb_r2_2" value="3"></td>
			</tr>
			<tr>
				<td >Computer</td>
				<td><input type="radio" name="qfb_r2_3" value="0"></td> 
				<td><input type="radio" name="qfb_r2_3" value="1"></td>
				<td><input type="radio" name="qfb_r2_3" value="2"></td>
				<td><input type="radio" name="qfb_r2_3" value="3"></td>
			</tr>
			<tr>
				<td >Fernsehen</td>
				<td><input type="radio" name="qfb_r2_4" value="0"></td> 
				<td><input type="radio" name="qfb_r2_4" value="1"></td>
				<td><input type="radio" name="qfb_r2_4" value="2"></td>
				<td><input type="radio" name="qfb_r2_4" value="3"></td>
			</tr>
			<tr>
				<td >Wäschetrockner</td>
				<td><input type="radio" name="qfb_r2_5" value="0"></td> 
				<td><input type="radio" name="qfb_r2_5" value="1"></td>
				<td><input type="radio" name="qfb_r2_5" value="2"></td>
				<td><input type="radio" name="qfb_r2_5" value="3"></td>
			</tr>
			<tr>
				<td >Geschirrspülmaschine</td>
				<td><input type="radio" name="qfb_r2_6" value="0"></td> 
				<td><input type="radio" name="qfb_r2_6" value="1"></td>
				<td><input type="radio" name="qfb_r2_6" value="2"></td>
				<td><input type="radio" name="qfb_r2_6" value="3"></td>
			</tr>
			<tr>
				<td >Elektroherd</td>
				<td><input type="radio" name="qfb_r2_7" value="0"></td> 
				<td><input type="radio" name="qfb_r2_7" value="1"></td>
				<td><input type="radio" name="qfb_r2_7" value="2"></td>
				<td><input type="radio" name="qfb_r2_7" value="3"></td>
			</tr>
			<tr>
				<td >Backofen</td>
				<td><input type="radio" name="qfb_r2_8" value="0"></td> 
				<td><input type="radio" name="qfb_r2_8" value="1"></td>
				<td><input type="radio" name="qfb_r2_8" value="2"></td>
				<td><input type="radio" name="qfb_r2_8" value="3"></td>
			</tr>
			<tr>
				<td >Wärmepumpe für die Raumheizung</td>
				<td><input type="radio" name="qfb_r2_9" value="0"></td> 
				<td><input type="radio" name="qfb_r2_9" value="1"></td>
				<td><input type="radio" name="qfb_r2_9" value="2"></td>
				<td><input type="radio" name="qfb_r2_9" value="3"></td>
			</tr>
			<tr>
				<td >Elektrofahrzeug</td>
				<td><input type="radio" name="qfb_r2_10" value="0"></td> 
				<td><input type="radio" name="qfb_r2_10" value="1"></td>
				<td><input type="radio" name="qfb_r2_10" value="2"></td>
				<td><input type="radio" name="qfb_r2_10" value="3"></td>
			</tr>
			</table>

            <p style="margin-top: 100px;">
                <input class="link-btn button" type="submit" value="Nächste Seite" />
			</p>
        </form>
    </div>	

	<script src="{{ url_for('static', filename='js/questions.js')}}"></script>
	<script>
		const text_box = document.getElementById('option-other-text');
	
		function handleRadioClick() {
		if (document.getElementById('option-other').checked) {
			text_box.style.display = 'inline-block';
			text_box.required = true;
		} else {
			text_box.style.display = 'none';
			text_box.required = false;
		}
		}
	
		const radioButtons = document.querySelectorAll('input[name="qfb_r1"]');
		radioButtons.forEach(radio => {
		radio.addEventListener('click', handleRadioClick);
		});

		const peer = {{peer|tojson}}
		if (peer == "FALSE") {
			document.getElementById("conditional").remove()
		}
	
	</script>
	
 </body>

</html>